<!-- Header -->
<div class="container">
    <div class="header row">
        <div class="logo span4">
            <h1><a href="/teaser/index">PotenCAFE</a> <span>.</span></h1>
        </div>

        <div class="call_us span8">
            <p>문의메일 : <span><a href="mailto:potencafe@gmail.com" target="_blank"> potencafe@gmail.com </a></span></p>
        </div>
    </div>
</div>

<!-- Thankyou -->
<div class="container">
    <div class="row">
        <div class="alert alert-error span12 subscribe">
          <h1> <%= @msg -%> </h1>
        </div>


  <div class="powered">
        <p> powerd by <a href="https://twitter.com/nuguriDJ" target="_blank">@nuguriDJ</a>
            with <a href="http://likelion.net" target="_blank"> Likelion </a> </p>
  </div>
