<!-- Header -->
<div class="container">
    <div class="header row">
        <div class="logo span4">
            <h1><a href="">PotenCAFE</a> <span>.</span></h1>
        </div>

        <div class="call_us span8">
            <p>문의메일 : <span><a href="mailto:potencafe@gmail.com" target="_blank"> potencafe@gmail.com </a></span></p>
        </div>
    </div>
</div>

<!-- Coming Soon -->
<div class="coming-soon">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="span12">
                   <h2>"포텐카페" 곧 열려요. </h2>
                    <p> 우리 동네에 이런 카페들이? <br> 다양한 카페 선택권을 위해 꼬꼬마 개발자 밤새 커피흡입 중. </p>
                    <div class="timer">
                        <div class="days-wrapper">
                            <span class="days"></span> <br>days
                        </div>
                        <div class="hours-wrapper">
                            <span class="hours"></span> <br>hours
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <br>minutes
                        </div>
                        <div class="seconds-wrapper">
                            <span class="seconds"></span> <br>seconds
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container">
    <div class="row">
        <div class="span12 subscribe">
            <h3> 메일은 소식을 남기고</h3>
            <p> 이메일을 등록한 당신,,,, <br> 포텐카페 서비스 시작소식을 울어무이보다 더 빠르게 아실 수 있을 거에요 </p>
            <form class="form-inline" action="/teaser/save_mail" method="post">
                <input type="email" name="email" placeholder="Enter your email...">
                <button type="submit" id="enter_mail" class="btn"> 소식 줘요</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span12 social">
            <a href="https://www.facebook.com/potencafe" class="facebook" target="_blank"></a>
        </div>
    </div>

    <div class="powered">
        <p> powerd by <a href="https://twitter.com/nuguriDJ" target="_blank">@nuguriDJ</a>
            with <a href="http://likelion.net" target="_blank"> Likelion </a> </p>
    </div>
</div>




