<!-- Header -->
<div class="container">
    <div class="header row">
        <div class="logo span4">
            <h1><a href="/teaser/index">PotenCAFE</a> <span>.</span></h1>
        </div>

        <div class="call_us span8">
            <p>문의메일 : <span><a href="mailto:potencafe@gmail.com" target="_blank"> potencafe@gmail.com </a></span></p>
        </div>
    </div>
</div>

<!-- Thankyou -->
<div class="container">
    <div class="row">
        <div class="alert alert-error span12 subscribe">
          <h1> 소중한 <%= @number %>번째 관심<br> 감사합니다 </h1>
        </div>

        <div class="span8 offset2 text">
        <p class="muted"> 저는 어느 지역을 가면 그곳에서만 만날 수 있는, 볼 수 있는, 누릴 수 있는 무언가를 찾는 편입니다. 
          <br> 작은 차이일지라도 그 특별함과 거기에 깃들어 있는 추억들이 좋아서요. 
          <br> 가만히 보니 어디를 가든 '카페'라는 공간에 항상 들리고 있더군요. 
          <br> 그런데 주의 깊게 주위를 안 보면 모르겠는 포텐터질 카페들도 많이 있는 것 같았어요. 
          <br> 그래서 그런 개인/동네 카페들의 정보만 함께모아 공유해보려 합니다.
          <br><br> "모여라. 동네 카페들아. 포텐카페로."
          <br> "가보자. 동네 카페들로. 포텐카페서."
        </p>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="social">
        <a href="https://www.facebook.com/potencafe" class="facebook" target="_blank"></a>
    </div>
  </div>

  <div class="powered">
        <p> powerd by <a href="https://twitter.com/nuguriDJ" target="_blank">@nuguriDJ</a>
            with <a href="http://likelion.net" target="_blank"> Likelion </a> </p>
</div>

