<!-- Header -->
<div class="container">
    <div class="header row">
        <div class="logo span4">
            <h1><a href="">PotenCAFE</a> <span>.</span></h1>
        </div>

        <div class="call_us span8">
            <p>문의메일 : <span><a href="mailto:potencafe@gmail.com" target="_blank"> potencafe@gmail.com </a></span></p>
        </div>
    </div>
</div>

<!-- Thankyou -->
<div class="container">
    <div class="row">
        <div class="alert alert-error span12 subscribe">
          <h1> <i class="icon-envelope"></i> 소중한 n번째 관심<br> 감사합니다 </h1>
        </div>

        <div class="span8 offset2 text">
        <p class="muted"> 저는 어느 지역을 가면 그 곳에서만 만날 수 있는, 볼 수 있는, 누릴 수 있는 무언가를 찾는 편입니다. 
          <br> 작은 차이일지라도 그 특별함과 거기에 깃들어 있는 추억들이 좋아서요. 
          <br> 주의깊게 주위를 안보면 모르는 그런 동네카페들도 많이 있는 것 같아서 시작해보려합니다.
          <br> 모여라. 우리동네 카페들아. 포텐카페로.
        </p>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="social">
        <a href="https://www.facebook.com/potencafe" class="facebook" target="_blank"></a>
    </div>
  </div>

  <div class="powered">
      <p> powerd by @nuguriDJ with Likelion </p>
  </div>
</div>

